* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
}

ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* ------------------HEADER---------------- */

.header {
    border-bottom: 1px solid #e7e9fc;
}


.header-container {
    display: flex;
    align-items: center;
}

.navigation {
    font-weight: 500;
    color: #2E2F42;
    display: flex;
    align-items: center;
}

.navigation-list {
    display: flex;
    align-items: center;
    gap: 40px;

}

.navigation-link {
    display: block;
    padding: 24px 0;
    color: #2E2F42;
    letter-spacing: 0.02em;
}

.navigation-link:hover,
.navigation-link:focus {
    color: #404BBF;
}

.logo {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-weight: 700;
    font-size: 18px;
    color: #2E2F42;
    line-height: 1.17;
    text-decoration: none;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.web-name {
    color: #4D5AE5;
}

.address {
    font-style: normal;
    margin-left: auto;
}

.address-list {
    gap: 40px;
    display: flex;
    align-items: center;
}

.address-link {
    display: block;
    padding: 24px 0;
    color: #434455;
    font-style: normal;
}

.address-link:hover,
.address-link:focus {
    color: #404BBF;
}

/* ------------------ORDER---------------- */

.order {
    background-color: #2E2F42;
    padding-bottom: 188px;
    padding-top: 188px;
}


.order-title {
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.order-button {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 0.04em;
    white-space: nowrap;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    width: 169px;
    height: 56px;
    display: block;
    margin: 0 auto;
}

.order-button:hover,
.order-button:focus {
    background-color: #404BBF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* ------------------FEATURES---------------- */

.features {
    padding-top: 120px;
    padding-bottom: 120px;
}

.features-list {
    display: flex;
    gap: 24px;
}

.features-item {
    width: calc((100% - 72px) / 4);
}

.features-item-title {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.features-text {
    letter-spacing: 0.02em;
}

/* ------------------TEAM---------------- */

.team {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-title {
    color: #2E2F42;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.team-item {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    align-items: center;
    width: calc((100% - 72px) / 4);
}

.container-team-item {
    padding: 32px 16px;
}

.team-item-title {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-item-text {
    text-align: center;
    letter-spacing: 0.02em;
}



/* ------------------PORTFOLIO---------------- */

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    color: #2E2F42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-item {
    align-items: center;
    width: calc((100% - 48px) / 3);
}

.portfolio-item-title {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.container-portfolio-item-title {
    align-items: center;
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}

.portfolio-item-text {
    letter-spacing: 0.02em;
}

/* ------------------FOOTER---------------- */

.footer {
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-container {
    display: block;
    color: #f4f4fd;
}

.footer-logo {
    color: #f4f4fd;
}

.footer-text {
    letter-spacing: 0.02em;
    max-width: 264px;
    margin-top: 16px;
}